# Database URL for Prisma (MySQL)
DATABASE_URL="mysql://root:password@localhost:3306/hotel_db"

# Nodemailer Email Configuration
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion_gmail" # Si usas Gmail, usa una contraseña de aplicación
EMAIL_HOST="smtp.gmail.com" # o el host de tu proveedor
EMAIL_PORT="465" # o 587 para TLS

# Administrator Email
ADMIN_EMAIL="admin@tu_dominio.com"

# Server Port
PORT=3001